{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Reset - Done{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3 text-center card p-3 shadow-lg">
            <h3 class="alert-heading">Well Done!</h3>
            <p>
                An email has been sent with instructions to reset your password. <br>
                <b>Please, Check Your Email.</b>
            </p>
        </div>
    </div>
{% endblock content %}

